*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-family: "Overpass", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
